/*Notification Dropdown Customisation*/

.main-header .navbar-nav .dropdown-toggle::after {
    display: none;
}

.main-header .navbar-nav .dropdown-menu {
    position: absolute !important;
    top: 3rem !important;
    left: -13rem !important;
    min-width: 265px;
    padding: 0;
    transform-origin: top right;
    transition: transform .15s ease-out, -webkit-transform .15s ease-out;
}

.main-header .dropdown-heading{
    border-bottom: 1px solid rgba(0,0,0,.0625) !important;
    /* background-color: #e9ecef; */
    background-color:#f98d26;
}

.main-header .dropdown-heading i{
    color: rgba(0, 0, 0, .5);
}

.main-header .dropdown-heading .heading-text{
    color: #ffffff !important;
    font-weight: 600 !important;
    font-size: .87rem !important;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.img-size-50 {
    width: 50px;
    height: auto;
}
.img-circle {
    border-radius: 50%;
    border: 1px solid #e4e4e4;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}
.dropdown-item-title {
    font-size: 0.9rem;
    margin: 0;
}
.subject-msg{
    font-size: 0.8rem !important;
}
.text-sm {
    font-size: .875rem!important;
}

.main-header .notification-dropdown .dropdown-divider {
  
    margin: 0;
   
}

.main-header .notification-dropdown .dropdown-footer {
    display: block;
    font-size: .875rem;
    padding: .5rem 1rem;
    text-align: center;
}

/* .main-header .header-item .dropdown-toggle{
    transition: all .2s ease-in-out;
}

.notification-dropdown{
    transform: scale(1);
    transition: transform .15s ease-out,-webkit-transform .15s ease-out;
} */