<div class="container-fluid">
    <div class="row mt-2">
      <div class="col-6">
        <h1 class="page-heading">Page Header Title</h1>
      </div>
      <div class="col-6 text-right">
        <!-- <button type="button" class="btn btn-primary btn-sm">Button 1</button> -->
        <button type="button" class="btn btn-success btn-sm mr-1">
          <i class="icon fa fa-floppy-o" aria-hidden="true"></i>btn-success
        </button>
        <button type="button" class="btn btn-danger btn-sm mr-1">
          <i class="icon fa fa-times" aria-hidden="true"></i>btn-danger
        </button>
        <button type="button" class="btn btn-primary btn-sm mr-1">
          <i class="icon fa fa-check" aria-hidden="true"></i>btn-primary
        </button>
        <button type="button" class="btn btn-info btn-sm mr-1">
          <i class="icon fa fa-trash-o" aria-hidden="true"></i>btn-info
        </button>
      </div>
    </div>
    <div class="divider"></div>
  </div>

  <div class="content mt-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <div class="info-box">
            <span class="info-box-icon danger"><i class="fa fa-bookmark text-white"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Bookmarks</span>
              <span class="info-box-number">41,410</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>

        <div class="col-4">
          <div class="info-box">
            <span class="info-box-icon primary"><i class="fa fa-comments-o text-white"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Comments</span>
              <span class="info-box-number">1,410</span>

              <div class="progress">
                <div class="progress-bar" style="width: 30%"></div>
              </div>
              <span class="progress-description">
                30% Increase in 30 Days
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>

        <div class="col-4">
          <div class="info-box">
            <span class="info-box-icon success"><i class="fa fa-thumbs-o-up text-white"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Likes</span>
              <span class="info-box-number">410</span>

              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
              <span class="progress-description">
                50% Increase in 30 Days
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
       
      </div>
    </div>
  </div>